.body{
    display: block;
    margin: -8px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family:'Courier New', Courier, monospace;
}

.navbar{
    padding: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-image: url(/my-personal-project/img/bg.jpg);
    justify-content: space-between;    
}

.navbar-left,
.navbar-right{
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar-left img{
    width: 100px;
}

.navbar-left-items{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}


.navbar-left div:hover{
    text-decoration: none;
    color: beige;
}


.navbar-left-items > *,
.navbar-right-login > *{
    padding: 20px;
}

.navbar-right-login{
    display: flex;
    border: none;
    align-items: right;
    font-size: 12px;
    
}

.navbar-right-login a{
    text-transform: uppercase;
    font-weight: 600;
    padding: inherit;
    font-size: 13px;
}

.navbar-right-login a:hover{
    color: beige;
}

.table{
    font-family: 'Quicksand', sans-serif;
}