.body{
    margin: none;
    font-family:'Courier New', Courier, monospace;
}

.navbar{
    padding: 20px;
    font-size: 16px;
    background-image: url(bg.jpg);
    align-items: center;
    justify-content: space-between;
}

.navbar-left img{
    width: 100px;
}

.navbar-left-items{
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left,
.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > *{
    margin: 10px;
}